<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <!-- <meta charset="utf-8"> --> 
    <title>BlackJack Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> BlackJack  Аутентификация</h1>

        <p>Авторизируйтесь или зарегистрируйтесь с помощью:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Локальная авторизация</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Локальная регистрация</a>
    </div>

</div>
</body>
</html>