<!doctype html>
<html>
<head>
    <title>BlackJack Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Авторизация</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form id="registerform" action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input id="email"type="text" class="form-control" name="email">
        </div>
        <p></p>
        <div class="form-group">
            <label>Пароль</label>
            <input id="passwd" type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Авторизоваться</button>
    </form>

    <script text="java/script">

    function Validator(){
    var self=this;
self.deniedblur=false;
/*self.deniedpass=false;
self.deniedtel=false;*/
self.deniedemail=false;
self.deniedpassword=false;
}


Validator.prototype.validatorSubmit=function(){
    var self=this;
    $("#registerform").on("submit",function(event){
    if ((self.deniedblur===false)||(self.deniedemail===false)||(self.deniedpassword===false)){
                event.preventDefault();
    }
    })
}

Validator.prototype.validBlur=function(){
    var self=this;
    $("#registerform").find("input").on("blur",function(){
    if($(this).val()===""){
        $(this).css({
        "border-color":"#ff0000"
        })
        /*$(this).next().text("заполните поле").css({
        "color":"#ff0000"
        })
        $("#registerform").find("input").eq(5).css({
        "border-color":"#c0c0c0"    
        });*/
        self.deniedblur=false;
    }else {
        $(this).css({
        "border-color":"#0000ff"
        })
        $(this).next().css({
        "color":"#c0c0c0"
        })
        self.deniedblur=true;       
    }
    })
     
}


/*Validator.prototype.validPass=function(){
    var self=this;
    $("#pass2").on("blur",function (){
        var str=$(this).val();
    if (($("#pass1").val()!=$("#pass2").val())||($("#pass1").val()==="")){
        $(this).css({
            "border-color":"#ff0000"
        });
        $(this).next().text("Пароли не совпадают").css({
            "color":"#ff0000"
        });
        self.deniedpass=false;
    }else {
        
        self.deniedpass=true;
    }
    
})
}*/

/*Validator.prototype.validTel=function(){
    var self=this;
    $("#tel").on("blur",function(){
        var str=$(this).val();
    if (str.match(/^\+38\([0-9]{3}\)[0-9]{3}\-[0-9]{2}\-[0-9]{2}$/ig)!=null) {
        $(this).css({
        "border-color":"#0000ff"
        });
        self.deniedtel=true;
    }else{
        $(this).css({
            "border-color":"#ff0000"
        });
        $(this).next().css({
            "height":"10px"
        });
        $(this).next().text("+38(ххх)ххх-хх-хх").css({
            "color":"#ff0000"
        });
    }


    });
}*/

Validator.prototype.validEmail=function(){
    var self=this;
    $("#email").on("blur",function(){
        var str=$(this).val();
    if (str.match(/^[a-z]{1,15}@[a-z]{1,15}\.[a-z]{1,5}$/ig)!=null) {
        $(this).css({
        "border-color":"#0000ff"
        });
        $("#wrapper").css({
            "height":"350px"    
        });
        $(this).next().css({
            "height":"5px"
        });
        $("input[name='login']").val(str.substring(0,str.indexOf("@")));
        self.deniedemail=true;
    }else if (str.match(/^[a-z]{1,15}[0-9]{1,10}@[a-z]{1,15}\.[a-z]{1,5}$/ig)!=null){
        $(this).css({
        "border-color":"#0000ff"
        });
        $("#wrapper").css({
            "height":"350px"    
        });
        $(this).next().css({
            "height":"5px"
        });
        $("input[name='login']").val(str.substring(0,str.indexOf("@")));
        self.deniedemail=true;
    }else if (str.match(/^[0-9]{1,10}[a-z]{1,15}@[a-z]{1,15}\.[a-z]{1,5}$/ig)!=null){
        $(this).css({
        "border-color":"#0000ff"
        });
        $("#wrapper").css({
            "height":"350px"    
        });
        $(this).next().css({
            "height":"5px"
        });
        $("input[name='login']").val(str.substring(0,str.indexOf("@")));
        self.deniedemail=true;
    }else if (str.match(/^[a-z]{1,15}\.[a-z]{1,15}@[a-z]{1,15}\.[a-z]{1,5}$/ig)!=null) {
        $(this).css({
        "border-color":"#0000ff"
        });
        $("#wrapper").css({
            "height":"350px"    
        });
        $(this).next().css({
            "height":"5px"
        });
        $("input[name='login']").val(str.substring(0,str.indexOf("@")));
        self.deniedemail=true;
    }else if (str.match(/^[a-z]{1,15}\.[0-9]{1,10}@[a-z]{1,15}\.[a-z]{1,5}$/ig)!=null){
        $(this).css({
        "border-color":"#0000ff"
        });
        $("#wrapper").css({
            "height":"350px"    
        });
        $(this).next().css({
            "height":"5px"
        });
        $("input[name='login']").val(str.substring(0,str.indexOf("@")));
        self.deniedemail=true;
    }else if (str.match(/^[0-9]{1,10}\.[a-z]{1,15}@[a-z]{1,15}\.[a-z]{1,5}$/ig)!=null){
        $(this).css({
        "border-color":"#0000ff"
        });
        $("#wrapper").css({
            "height":"350px"    
        });
        $(this).next().css({
            "height":"5px"
        });
        $("input[name='login']").val(str.substring(0,str.indexOf("@")));
        self.deniedemail=true;
    }else{
        $(this).css({
            "border-color":"#ff0000"
        });
        $("#wrapper").css({
            "height":"450px"    
        });
        $(this).next().css({
            "height":"45px"
        });
        $(this).next().text("Неверный формат e-mail.Можно исп. латиницу,точку,цифры").css({
            "color":"#ff0000"
        });
        self.deniedemail=false;
    }


    });
}
Validator.prototype.validPassword=function(){
    var self=this;
    $("#passwd").on("blur",function(){
        var str=$(this).val();
    if (str.match(/^[a-z]{8,64}$/ig)!=null){
        $(this).css({
            "border-color":"#0000ff"
        });
        $(this).next().css({
            "height":"5px"
        });
        $("#wrapper").css({
            "height":"350px"
        });
        self.deniedpassword=true;
    }else if (str.match(/^[0-9]{8,64}$/ig)!=null){
        $(this).css({
            "border-color":"#0000ff"
        });
        $(this).next().css({
            "height":"5px"
        });
        $("#wrapper").css({
            "height":"350px"
        });
        self.deniedpassword=true;
    }else if (str.match(/^[a-z]{4,32}[0-9]{4,32}$/ig)!=null){
        $(this).css({
            "border-color":"#0000ff"
        });
        $(this).next().css({
            "height":"5px"
        });
        $("#wrapper").css({
            "height":"350px"
        });
        self.deniedpassword=true;
    }else if (str.match(/^[0-9]{4,32}[a-z]{4,32}$/ig)!=null){
        $(this).css({
            "border-color":"#0000ff"
        });
        $(this).next().css({
            "height":"5px"
        });
        $("#wrapper").css({
            "height":"350px"
        });
        self.deniedpassword=true;
    }else{
        $(this).css({
            "border-color":"#ff0000"
        });
        $(this).next().css({
            "height":"45px"
        });
        $("#wrapper").css({
            "height":"450px"
        });
        $(this).next().text("Используйте латиницу,цифры от 8 до 64 символов").css({
            "color":"#ff0000"
        });
        self.deniedpassword=false;
    }

    });

}

var validregistr=new Validator();


validregistr.validBlur();
/*validregistr.validPass();*/
validregistr.validEmail();
validregistr.validPassword();
/*validregistr.validTel();*/
validregistr.validatorSubmit();

console.dir(validregistr);

    </script>



    <hr>

    <p>Нуждаетесь в аккаунте? <a href="/signup">Зарегистрируйтесь</a></p>
    <p>Или вернуться  <a href="/">домой</a>.</p>

</div>

</div>
</body>
</html>